/environment
/installed-targets/
/source-archives/
/build/
/root/
/toolchain/
/binary-archives/
settings.json
/.vscode/
/.idea/
*.O2.ll*
*.O3.ll*
*.result.csv
*.log
*.obj
*.result
*.stripped
!/test/result/*.result