/environment
/installed-targets/
/source-archives/
/build/
/build-*/
/root/
/toolchain/
/binary-archives/
/.omc/
/--verify/
settings.json
/.vscode/
/.idea/
**/__pycache__/
*.O2.ll*
*.O3.ll*
*.result.csv
*.log
*.stdout
*.stderr
*.obj
*.result
*.stripped
vgcore*
!/test/result/*.result
